:root { 
--gray_700:#595959; 
--deep_orange_A100:#f5ab67; 
--gray_800:#3a3a3a; 
--lime_800:#a1a325; 
--blue_A700:#2364ff; 
--gray_801:#3c3c3c; 
--red_300:#f56767; 
--red_401:#e05c5c; 
--red_400:#e05d5d; 
--black_900_0c:#0000000c; 
--red_50:#ffecec; 
--black_900:#000000; 
--cyan_400_87:#38b5c687; 
--blue_400:#37a6f6; 
--cyan_50:#ccfaf5; 
--red_300_7c:#f567677c; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--black_900_68:#00000068; 
--pink_400:#c63973; 
--cyan_400:#38b5c6; 
--lime_800_87:#a5a82087; 
}